/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    border: 1px solid #fff;
    border-radius: inherit;
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    background: url(../images/bg-1.jpg) center center fixed no-repeat;
    -moz-background-size: cover; /* Firefox до 4.0 */
    -webkit-background-size: cover; /* Safari и Chrome */
    -o-background-size: cover; /* Opera до версии 10.53 */
    background-size: cover; /* CSS3 */
    counter-reset: heading;
}

body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px 0;
}

/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-brand a:hover {
    text-decoration: none;
}

.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 20px;
}

.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: rgba(255, 255, 255, .25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }

    .masthead-nav {
        float: right;
    }
}

/*
 * Cover
 */

.cover {
    padding: 0 20px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255, 255, 255, .5);
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }

    .mastfoot {
        position: fixed;
        bottom: 0;
    }

    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }

    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }

    .registration-form {
        padding-left: 180px;
        padding-right: 180px;
    }
}

@media (max-width: 768px) {
    .registration-form {
        padding-left: 50px;
        padding-right: 50px;
    }


}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }

    .registration-form {
        padding-left: 150px;
        padding-right: 150px;
    }
}

.form-control {
    border-radius: inherit;
}

.form-group {
    text-align: left;
!important;
}

.table-test-1 {
    /*background: url(../images/bg-table.png) repeat;*/
    background-color: rgba(21, 21, 21, 0.79);
    font-size: 16px;
}

@media (max-width: 800px) {
    .table-test-1 {
        font-size: 14px;
    }
}

.table tbody tr td,
.table>tbody>tr>th{
    border-top:0.5px solid rgba(255, 255, 255, 0.07);
}
tr:nth-child(2n+2) {
    background: rgba(0, 0, 0, 0.45); /* Цвет фона */
}

.table tbody tr th{
    padding-right: 0px;!important;
    padding-left: 25px;
}

.stat{

}

.table-head {
    background: rgba(0, 0, 0, 0.45); /* Цвет фона */
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background: rgba(22, 143, 24, 0.56);

}